.header {
  // display: none !important;
  background-image: url(/src/images/header-bg-mobile.png);
  background-size: cover;
  background-position: center;
  &__content {
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  &__title {
    margin: 0;

    @include title-size;

    font-weight: 700;
    letter-spacing: -1.5px;
    line-height: 100%;
    vertical-align: middle;
    text-align: center;
    color: $text-color-headlines;
  }

  &__bottom {
    padding-top: 0;
  }
}
